*{
    font-family: Ubuntu, sans-serif;
}
table{
    box-shadow: 11px 11px 25px 0px rgba(41,102,128,1);
    text-align: center;
}
caption, th, td {
    padding: 0.8em;
}
table caption {
    background-color: #7fb9c2;
    font-size: 1.5em;
    font-weight: bold;
}
table tfoot {
    background-color: #7fb9c2;
    font-size: 0.8em;
}
table, th, td {
    border: 1px solid rgb(204, 204, 204);
    border-collapse: collapse;
}
tr:nth-of-type(6) :first-child {
    font-style: italic;
}
tr:nth-of-type(5) td:nth-of-type(3){
    background-color: #628ca6;
    color: #FFF;
}
tr:nth-child(odd) {
    background-color: #e7f0ed;
}
tr:nth-of-type(1){
    background-color: #628ca6;
}