@media screen and (max-width: 963px) {

   #remove {
       display: none;
   }

   #backgroundImage {
    width: 100%;
    background-repeat: no-repeat;
    }

    #weatherSumBox {
        float: left;
        position: relative;
        max-width: 200px;
        padding: 15px;
        background-color: rgba(34, 72, 100, 0.7);
        color: #FFF;
    }

    .iconLinks {
        margin-bottom: 2em;
    }

    #map {
        width: 200px;
        height: 150px;
    }

}


nav button {
    margin: 0.2rem 2%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: #555;
}
nav {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,60abf8+44,4096ee+100;Blue+3D+%2314 */
background: #7abcff; /* Old browsers */
background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); /* IE6-9 */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: .8rem 2%;
    text-decoration: none;
    border-top: 1px solid rgba(34, 72, 100, 0.7);
}
nav ul li.active a {
    background-color: rgba(24,63,88,0.2);
    color: #FFF;
}

nav ul.hide {
    display: none;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}