@import url('https://fonts.googleapis.com/css?family=Dosis|Fredoka+One|Lato|Roboto');

body {
    width: 100%;
    margin: 0;
}


/* Header */
header {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    height: 200px;
    background-color: rgba(1, 60, 116, 0.72);
    text-align: center;
    color: #FFF;
}
.headerText h1 {
    font-family: Dosis;
    font-size: 3rem;
    text-shadow: 3px 3px 2px rgba(7, 27, 41, .7);
}
.subheading {
    font-family: Lato;
    font-size: 1.1rem;
    color: #FFF;
    font-style: italic;
    margin-top: -25px;
}
.subTitle {
    font-family: Lato;
    font-size: 1.4rem;
    color: #FFF;
    font-style: italic;
    margin-top: 10px;
}
.headerRight img {
    width: 80%;
}
#siteLogo {
    width: 150px;
    margin-left: 4em;
}
.currentWeather {
    color: #FFF;
    background-color: #45abf0;
    box-shadow: 1px 3px 3px 1px rgba(7, 27, 41, .7);
    font-size: 1.1rem;
    height: 150px;
    padding: 5px;
}
.headerLeft, .headerRight {
    width: 100px;
}




 /* Navigation Menu */
 nav {
    background: #7abcff; 
background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); 
background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); 
background: linear-gradient(to bottom, #7abcff 0%,#60abf8 44%,#4096ee 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee',GradientType=0 ); 
font-family: Verdana, Geneva, Tahoma, sans-serif;
color: #FFF;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;    
}

nav ul li {
    padding: 0.5rem 2rem;
}

nav ul li a {
    text-decoration: none;
    color: #FFF;
    padding: 0.5rem 2rem;
}
nav ul li.active a {
    background-color: rgba(24,63,88,0.2);
    color: #eee;
}

nav li a:hover {
    margin: 0;
    background-color: rgba(24,63,88,0.4);
    color: #eee
} 





/* Main Content */
#content {
    width: 80%;
    margin: 0 auto;
}
h1 {
    font-family: Dosis;
    text-align: center;
}
h2 {
    font-family: "Fredoka One";
}
h3 {
    font-family: Roboto;
}
p {
    font-family: Lato;
}



/* back image section */
.header_img {
   width: 100%;
   position: relative;
}
#backgroundImage {
    width: 100%;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
#weatherSumBox {
    position: absolute;
    display: grid;
    left: 0;
    top: 0;
    width: 300px;
    margin-left: 2em;
    margin-top: 2em;
    padding: 15px;
    background-color: rgba(34, 72, 100, 0.7);
    color: #FFF;
}
#weatherSumBox .value {
    color: yellow;
}

.weatherInfoLine {
    display: grid;
    grid-template-columns: 2fr 5fr;
}

.weatherInfoLine .label, .weatherInfoLine .value {
    margin: 2px;
}


/* 5 Day Forecast */
.forecast {
    display: grid;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: rgba(19, 19, 19, 0.7);
}
.forecast h3 {
    text-align: center;
    font-family: Lato;
    font-size: 1.1rem;
    color: #FFF;
    font-style: italic;
}
#tableContainer {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    margin: 1em;
}
#tableContainer div {
    display: grid;
    justify-items: center;
    width: 50%;
    align-content: center;
    align-items: center;
}
table {
    color: #FFF;
    padding: 1rem;
    border-spacing: 0;
    border-collapse: collapse;
    align-items: center;
    align-content: center;
}

table th {

    font-family: Lato;
    font-size: 1rem;
    color: #FFF;    
    padding: 0.8rem;
    background-color: rgba(1, 60, 116, 0.72);

}
td {
background-color: #FFF;
color: #000;
padding: 0.8rem;
}

/* Article */
section {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 25px;
    border: 1px solid rgba(65, 78, 71, 0.65);
    border-radius: 5px;
    background-color: rgba(114, 136, 124, 0.6);
}
#author {
    margin-top: -25px;
    font-size: .8em;
    font-style: italic;
    color: #03370a;
}

#foundersDayImg {
    float: right;
    top: 0;
    margin: 0 0 25px 10px;
    box-shadow: 4px 3px 6px 6px rgba(7, 27, 41, .7);
}


/* footer */
#prefootMid img:hover {
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.6);
    border-radius: 50%;
}
.footerBzInfo{
    display: grid;
    padding: 0.2em;
}
#preFooter {
    width: 100%;
    background-color: rgba(19, 19, 19, 0.7);
}

#preFooter h4 {
    font-family: Dosis;
}
#prefootMid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    padding: 25px;
    color: #FFF;
}

#prefootMid a{
    color: #FFF;
    text-decoration: none;
}
.iconLinks {
    width: 100%;
}
#prefootMid img {
    width: 3em;
    padding: 2%
}
footer {
    padding: 1em;
    font-size: 0.7em;
    background: rgba(1, 60, 116, 0.72); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(1, 60, 116, 0.72) 0%, rgba(0, 33, 65, 0.6) 74%, rgba(0, 17, 34, 0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(1, 60, 116, 0.72) 0%,rgba(0, 33, 65, 0.6) 74%,rgba(0, 17, 34, 0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(1, 60, 116, 0.72) 0%,rgba(0, 33, 65, 0.6) 74%,rgba(0, 17, 34, 0.65) 100%);
    color: #FFF;
    text-align: center;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


