@media only screen and (min-width: 415px) and (max-width: 1025px) {
       /* Header */
       header {
        flex-flow: column;
        justify-content: space-around;
        margin-top: 2em;
        height: 230px;
        align-items: center;
        -webkit-box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
        -moz-box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
        box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
    }
    .headerRight {
        font-size: 1.8em;
    }

/* Navigation */
    nav button { display: block;
        top: 190px;}
    .navigation {
        -webkit-box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
    -moz-box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
        box-shadow: 2px 8px 16px 2px rgb(32, 32, 32);
    }
    nav ul {
        flex-flow: column;
        justify-content: flex-end;
        list-style-type: none;
        padding: 0;
        margin: 0;    
    }
    nav ul li a {
        display: block;
        padding: .8rem 2%;
        text-decoration: none;
        border-top: 1px solid rgba(11, 11, 11, 0.911);
        color: #0B0B0B;
    }
    nav ul li.active a {
        background-color: #edf0f1;
        color: rgb(121, 121, 121);
        border-radius: 0 1em 1em 0; 
    }
    nav ul li.active a:hover {
        background-color: #edf0f1;
        color: rgb(121, 121, 121);
        border-radius: 0 1em 1em 0;
        box-shadow: none; 
    }
    nav ul.hide {
        display: none;
    }
    nav li a:hover {
        background-color: #d1d5d8;
        color: #0B0B0B;
        box-shadow: 2px 0 16px 2px rgb(32, 32, 32);
    }
    nav li a:active {
        background-color: #d1d5d8;
        border-radius: 1em 1em 0 0;
        color: #0b0b0b;
    }

/* Footer */
footer {
    max-width:100%;
}
.footerBzInfo{
    align-content: center;
    align-items: center;
    padding: 0.2em;
}
#prefootMid { 
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    padding: 1em;
}
.iconLinks {
    display: flex;
    flex-flow: row;
    justify-content: space-around;
}
#midfootMid a {  
    align-self: center;
    padding: 5px;
}
#map iframe {
    max-width: 370px;
    height: 200px;
}




/**************
*  
* Home Page
*
***************/
/* Hero img and book now btn */
.heroContainer img {
    width: 100%;
    margin: 0;
    z-index: 0;
}
.heroContainer {
    width: 100%;
}
.heroContainer a {
    width: 100%;
    padding: 0.3em 0;
    font-size: 1.1em;
}
.heroContainer a:hover {
    background-color: #9ee200;
    color: #0B0B0B;
}
#bookNowBtn {
    display: block;
    width: 100%;
}

#homeContent {
    width: 100%;
}
#mainWelcome {
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    margin: 3em 1em 0 1em;
}

/* Welcome description text and image */
#mainWelcome > div:nth-child(1) {
    padding: 0 1em;
}
#mainImgDiv {
    width: 100%;
    display: flex;
    flex-flow: row;
    align-content: center;
    margin: 1em;
}
#mainImgDiv img{
    align-content: center;
}
.homeMain {
    flex-flow: column;
}
/* temple info section */
.templeInfoContainer {
    flex-flow: row wrap;
    max-width: 90%;
    margin: 1em;
}
/* amenities info section */
.amenitiesHome {
    flex-flow: column;
    max-width: 100%;
    margin: 1em;
    align-self: center;
}
}