@media only screen and (min-width: 45em) {
    nav button { display: none; }

    nav ul li {
        float: left;
    }
    nav ul li a {
        border: none; 
        border-right: 1px solid rgba(24,63,88,0.3);
        padding: .8rem 1rem; 
    }
    nav ul.hide {
        display: block;
    }
    #map iframe {
        width: 400px;
        height: 300px;
    }
}

@media only screen and (min-width: 64em) {
    nav ul li a {
      padding: .6rem 1rem; 
    }
}


@import url('https://fonts.googleapis.com/css?family=Dosis|Fredoka+One|Lato|Roboto');

body {
    width: 100%;
    margin: 0;
}
/* Header */
header {
    background-color: #0067c5;
    text-align: center;
    padding: .5rem;
    color: #FFF;
}

header>img {
    width: 150px;
    height: auto;
    vertical-align: middle;
}
.headerText {
    display: inline-block;
    vertical-align: top;
}

.headerText h1 {
    font-family: Dosis;
    font-size: 3rem;
    text-shadow: 3px 3px 2px rgba(7, 27, 41, .7);
    
}
.subheading {
    font-family: Lato;
    font-size: 1.1rem;
    color: #FFF;
    font-style: italic;
    margin-top: -25px;
}
.currentWeather {
    display: inline-block;
    margin: 1rem 0 1rem 5rem;
    padding: 1.2rem;
    vertical-align: middle;
    color: #FFF;
    background-color: #45abf0;
    box-shadow: 1px 3px 3px 1px rgba(7, 27, 41, .7);
    font-size: 1.1rem;
}
.currentWeather img {
    width: 50px;
    vertical-align: middle;
}
.currentWeather p {
    display: inline-block;
    vertical-align: top;
}

/* Navigation Menu */




/* Main Content */
#content {
    width: 80%;
    margin: 0 auto;
}
h1 {
    font-family: Dosis;
    text-align: center;
}
h2 {
    font-family: "Fredoka One";
}
h3 {
    font-family: Roboto;
}
p {
    font-family: Lato;
}


/* back image section */
.header_img {
   width: 100%;
   position: relative;
}
#backgroundImage {
    width: 100%;
    background-repeat: no-repeat;
    margin-bottom: 100px;
}
#weatherSumBox {
    float: left;
    position: absolute;
    left: 0;
    top: 0;
    width: 300px;
    margin-left: 2em;
    margin-top: 2em;
    padding: 15px;
    background-color: rgba(34, 72, 100, 0.7);
    color: #FFF;
}
#weatherSumBox .value {
    color: yellow;
}

.weatherInfoLine .label, .weatherInfoLine .value {
    display: inline-block;
    margin: 2px;
}


/* Article */
section {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 15px;
    border: 1px solid black;
    background-color: #909b81;
}
#author {
    margin-top: -25px;
    font-size: .8em;
    font-style: italic;
    color: #03370a;
}

#foundersDayImg {
    float: right;
    top: 0;
    margin: 0 0 25px 10px;
    box-shadow: 4px 3px 6px 6px rgba(7, 27, 41, .7);
}


/* Above footer section */
#preFooter {
    clear: both;
    padding: 15px;
    margin-top: 60px;
    background-color: #03370a;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
#prefootMid {
    color: #FFF;
}
#prefootMid a{
    color: #FFF;
    text-decoration: none;
}

.iconLinks {
    display: inline-block;
}
#prefootMid img {
    width: 2em;
}

/* footer */
footer {
    padding: 1em;
    font-size: 0.7em;
    background-color: #0067c5;
    color: #FFF;
    text-align: center;
}
